<section class="agitation__cards">
    <div class="container">
        <div class="agitation__cards-inner flex">
            <div class="agitation__card anim_item anim__slide-l card flex">
                <div class="agitation__card-image">
                    <img src="./img/card1.svg" alt="Высокие бонусы">
                </div>
                <div class="agitation__card-text">
                    <p class="agitation__card-title -bold">
                        Высокие бонусы
                    </p>
                    <p class="agitation__card-desc">
                        Вы получаете до 35% от стоимости каждого полиса, который был куплен по вашей рекомендации.
                    </p>
                    <p class="agitation__card-desc light">К примеру: юридический полис “Международный бизнес” стоит $750/год, с него вы зарабатываете $260.</p>
                </div>
            </div>
            <div class="agitation__card anim_item anim__slide-r card flex">
                <div class="agitation__card-image">
                    <img src="./img/card2.svg" alt="Полезный продукт">
                </div>
                <div class="agitation__card-text">
                    <p class="agitation__card-title -bold">
                        Полезный продукт
                    </p>
                    <p class="agitation__card-desc">
                        Сервис ILC — это ваша личная команда юристов, которая работает в формате “здесь и сейчас”, 24/7, без выходных.
                    </p>
                    <p class="agitation__card-desc">Нужна помощь? Всего 1 клик и персональный юрист ILC уже решает ваш вопрос. <span class="-bold"> Это в несколько раз дешевле и быстрее, чем искать частного специалиста.</span></p>
                </div>
            </div>
            <div class="agitation__card anim_item anim__slide-l card flex">
                <div class="agitation__card-image">
                    <img src="./img/card3.svg" alt="Широкая аудитория">
                </div>
                <div class="agitation__card-text">
                    <p class="agitation__card-title -bold">
                        Широкая аудитория
                    </p>
                    <p class="agitation__card-desc">
                        Качественная юридическая помощь нужна абсолютно всем: бизнесу, семьям, крупным компаниям, экспертам и частным лицам.

                    </p>
                    <p class="agitation__card-desc">Рекомендуя полис ILC, <span class="-bold">вы помогаете людям </span> оперативно решать жизненные задачи в 1 клик.</p>
                </div>
            </div>
            <div class="agitation__card anim_item anim__slide-r card flex">
                <div class="agitation__card-image">
                    <img src="./img/card4.svg" alt="Обучение и поддержка">
                </div>
                <div class="agitation__card-text">
                    <p class="agitation__card-title -bold">
                        Обучение и поддержка
                    </p>
                    <p class="agitation__card-desc">
                        Вы получите доступ в личный кабинет с подробной информацией <br> о том, как:
                        <ul>
                            <li>эффективно привлекать клиентов</li>
                            <li>отслеживать конверсию</li>
                            <li>повышать свой доход</li>
                            <li>обналичивать средства и многое другое</li>
                        </ul>
                        <span class="-bold">Мы поддержим вас на всех этапах</span>
                    </p>
                </div>
            </div>
            <a href="#" class="agitation__btn anim__slide-t button">
    Стать партнером
  </a>
        </div>
    </div>
</section>