<section class="prediction anim_item">
    <div class="prediction__inner flex">
        <div class="prediction__title anim__slide-r -bold">
            Прогнозы партнерской программы на 2021 год
        </div>
        <div class="prediction__items flex">
            <div class="prediction__item anim__slide-l">
                <div class="prediction__item-value">
                    $2 млн.
                </div>
                <div class="prediction__item-text">
                    Заработают партнеры ILC
                </div>
            </div>
            <div class="prediction__item anim__slide-l">
                <div class="prediction__item-value">
                    <span class="count anim_item" id="counter2">10 000</span>+
                </div>
                <div class="prediction__item-text">
                    Полисов будет оформлено по партнерским ссылкам
                </div>
            </div>
            <div class="prediction__item anim__slide-l">
                <div class="prediction__item-value">
                    800+
                </div>
                <div class="prediction__item-text">
                    Партнеров присоединится к нам
                </div>
            </div>
            <div class="prediction__item anim__slide-l">
                <div class="prediction__item-value">
                    $1500
                </div>
                <div class="prediction__item-text">
                    Средний доход партнера в месяц
                </div>
            </div>
        </div>
    </div>
</section>