<section class="steps anim_item _no_hide">
    <svg width="1301" height="500" viewBox="0 0 1121 464" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.5" d="M76.7701 55.0012C12.8005 69.3107 -46.5 236 58.9999 319C234.716 457.241 535.56 239.694 669 107.414C821.5 -32.4998 1020.5 -35.4998 1020.5 107.414C1020.5 294.683 763.5 218.5 763.5 220.5" stroke="#404040" stroke-dash array="2 2"/>
    </svg>
    <div class="container">
        <div class="steps__title anim__slide-t -bold">
            Начать легко
        </div>
        <div class="steps__inner">
            <div class="steps__inner-card step1 card">
                <div class="steps__card-num">

                </div>
                <div class="steps__card-title -bold">
                    Регистрация
                </div>
                <div class="steps__card-text">
                    Заполните простую форму для участия в программе <br> и активируйте клиентский пакет.
                </div>
            </div>
            <div class="steps__inner-card step2 card">
                <div class="steps__card-num">

                </div>
                <div class="steps__card-title -bold">
                    Обучение
                </div>
                <div class="steps__card-text">
                    Вас ждут полезные обучающие материалы, с помощью которых вы легко сможете монетизировать свое время.
                </div>
            </div>
            <div class="steps__inner-card step3 card">
                <div class="steps__card-img">
                    <img src="./img/step-card.svg" alt="Стратегия">
                </div>
                <div class="steps__card-num">

                </div>
                <div class="steps__card-title -bold">
                    Стратегия
                </div>
                <div class="steps__card-text">
                    Воспользуйтесь подробным и понятным алгоритмом действий для достижения классных результатов.
                </div>
            </div>
            <div class="steps__inner-card step4 card">
                <div class="steps__card-img result">
                    <img src="./img/target.svg" alt="Результат">
                </div>
                <div class="steps__card-title -bold">
                    Результат
                </div>
                <div class="steps__card-text">
                    Зарабатывайте до 35% <br> с каждой покупки полиса <br> по вашей партнерской ссылке с первых дней после регистрации.
                </div>
                <a class="steps__card-btn popup-link button" href="#popup1">Начать зарабатывать</a>
            </div>
        </div>
    </div>
</section>