<div class="supervisor">
    <div class="container">
        <div class="supervisor__inner anim_item flex">
            <div class="supervisor__image anim__slide-t">
                <picture>
                    <source srcset="./img/supervisor.webp 1x, ./img/supervisor@2x.webp 2x, ./img/supervisor@3.webp 3x" type="image/webp">
                    <img src="./img/supervisor.png" srcset="./img/supervisor@2x.png 2x, ./img/supervisor@3.png 3x" alt="Руководитель ООО ILC Наталья Гуторова">
                </picture>
                <div class="supervisor__quote anim_item _no_hide card">
                    <p>“</p>
                    Я лично буду поддерживать вас на всех этапах развития в программе. Обращайтесь ко мне с любым вопросом email.
                </div>
            </div>
            <div class="supervisor__info anim__slide-r">
                <div class="supervisor__info-position">
                    Руководитель ООО ILC
                </div>
                <div class="supervisor__info-name -bold">
                    Наталья Гуторова
                </div>
                <div class="supervisor__info-experience -medium">
                    10 лет в управлении и юриспруденции
                </div>
                <p class="supervisor__info-text">
                    Мы стараемся окружить заботой и создать максимально комфортные условия для развития каждого партнера:
                    <ul>
                        <li>личный наставник,</li>
                        <li>пошаговое обучение,</li>
                        <li>готовые инструменты для продвижения <br> и мгновенные выплаты бонусов</li>
                    </ul>
                    Больше деталей партнерской программы смотрите в личном кабинете после регистрации.
                </p>
                <a href="#popup1" class="supervisor__info-btn popup-link button">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>